#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define SS3 LG(LS(3))
#define SS4 LG(LS(4))
#define SS5 LG(LS(5))

#define MY_UNDO LG(Z)
#define MY_REDO LG(LS(Z))

#define MY_COPY LG(C)
#define MY_PASTE LG(V)

#define MISCON C_AC_DESKTOP_SHOW_ALL_APPLICATIONS

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans 
//                &kp ESC   &kp LG(LS(3)) &kp LG(LS(4))  &mmv MOVE_UP   &kp LG(LS(Z))      &bt BT1       &trans   &kp LG(LS(Z)) &trans          &kp C_BRI_DN   &kp C_BRI_UP    &kp BSPC
                &kp TAB   &trans        &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT    &bt BT2       &kp LEFT &kp DOWN      &kp UP          &kp RIGHT      &mmv MOVE_RIGHT &kp DEL
                &kp LSFT  &trans        &kp LC(LEFT)   &kp MISCON     &kp LC(RIGHT)      &bt BT3       &kp J    &kp MY_COPY   &kp MY_PASTE    &kp L          &mkp MB4        &mkp MB5
                                        &kp LCTRL      &kp LCMD       &mkp MB2           &mkp MB1      &mkp MB1 &mkp MB2      &kp LALT        &kp SS5
            >;
        };
    };
};
